<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smile.springmybatiscrud.mapper.DepartmentMapper">
   <!-- Collection<Department> getDepartments();-->
    <select id="getDepartments" resultMap="getDeptS">
        select * from department
    </select>
    <resultMap id="getDeptS" type="com.smile.springmybatiscrud.entities.Department">
        <id property="id" column="id"/>
        <result property="departmentName" column="department_name"/>
    </resultMap>
<!--    Department getDeptById(int id);-->
    <select id="getDeptById" resultMap="getDeptS">
        select * from department where id=#{id}
    </select>
</mapper>